body {
  padding: 50px 100px;
}

.day-col {
  border: rgba(66, 85, 148, 0.383) solid 1px;
  position: relative;
  width: 50%;
}

.day-col:before {
  content: "";
  float: left;
  padding-top: 100%;
}

.content {
    box-sizing: content-box;
    float: left;
  }
